.ImageExamples {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between; /* or space-around */
}

#ExampleImage {
	display: inline-block;
	margin-bottom: 8px;
	width: calc(50% - 4px);
}

@media screen and (min-width: 100em) {
	#ExampleImage {
		width: calc(25% - 6px);
	}
}
