.ImageExamples {
	display: flex !important;
	flex-wrap: wrap !important;
	justify-content: space-between !important; /* or space-around */
}

#ExampleImage {
	display: inline-block !important;
	margin-bottom: 8px !important;
	width: calc(50% - 4px) !important;
}

@media screen and (min-width: 100em) {
	#ExampleImage {
		width: calc(25% - 6px) !important;
	}
}
